// navbar image? background: url("../images/585be1aa1600002400bdf2a6.jpg")
$margin1: 10px;
$margin2: 20px;
$border: outset;

body {
    background: url("../images/vintage-concrete.png");
    margin: 0 auto;
}

.container{
    margin-top: $margin2;
    border: $border;
}

#headerFont {
    margin-left: 5px;
    font-weight: bold;
    font-size: 25px;
}

.navbar {
    
}

#searchbar1 {
    width: 30%;
    margin-top: $margin1;
}

#searchbar2 {
    width: 20%;
    margin-top: $margin1;
}

.btn {
    margin-top: $margin1;
    margin-bottom: $margin1;
}

#button {
    margin-left: $margin2;
}