$cardwidth: 16.4rem;
$cardMaxWidth: 100%;
$cardheight: 40rem;
$cardborder: 2px solid grey;
$cardfontsize: 1.5rem;
$margin1: .625rem;
$margin2: 1.25rem;
$border: outset;

body {
    background: url("../images/vintage-concrete.png");
    margin: 0 auto;
}

#headerFont {
    margin-left: .3125em;
    font-weight: bold;
    font-size: 4.5625em;
    font-family: 'Courgette', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Carter One', cursive;
    -webkit-text-stroke: .05px black;
}

.navbar {
    background: url("../images/nav.jpg");
    border: $border;
}

#searchbar1 {
    margin-top: $margin1;
    margin-bottom: $margin1;
}

.container{
    margin-top: $margin2;
    border: $border;
    height: 48em;
}

.card {
    margin-top: $margin2;
    width: $cardwidth;
    max-width: $cardMaxWidth;
    min-height: $cardheight;
    border: $cardborder; 
    margin-left: .27em;
}
.card-header {
    color: grey;
    border-bottom: $cardborder;
    text-align: center;
    font-size: $cardfontsize;
    font-family: 'Courgette', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Carter One', cursive;
}

.card-body {
    background-color: rgb(251, 233, 175);
}

.card-2 {
    border: $cardborder;
    margin-top: .4em;
    // min-height: $cardheight;
    width: 50em;
    
}


#searchbar2 {
    margin-top: $margin1;
    margin-left: .5em;
}

.btn {
    margin-top: $margin1;
    margin-bottom: $margin1;
    margin-left: $margin2;
}