body {
    background: url("../images/vintage-concrete.png");
    margin: 10 auto;
    width: 80%;
}

h1 {
    text-align: center;
}

.container{
    margin-top: 20px;
    border: outset;
}

#searchbar1 {
    width: 20%;
    margin-top: 10px;
}

#searchbar2 {
    width: 10%;
    margin-top: 10px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

#button {
    margin-left: 20px;
}